doctype html
html. 
  <head>
  <title>delete</title>
  <h1 style="color:green;text-align:center">delete </h1>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  </head>
  <body>

  <form name="MYForm2"action="/del" method="post"style="position:relative;top:100px;left:470px">

  userid<input type="email"name="myid" class="form-control" style="width:400px" required>

  
  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;

  <input type="submit"name="button1"value="delete"   class="btn btn-success" style="width:200px">

  </form>

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  </body>
    <!--sddfjkg-->
