doctype html
html. 
  <head>
  <title>Home ,welcome</title>
  <marquee scrollamount="25" behavior="bounce"> <h1 style="color:blue;text-align:center">welcome to BMS </h1></marquee>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  </head>
  <body>

  
  <div style="position:relative;top:100px;left:225px"><a href="/reg"><input type="submit"name="button1"value="create"  class="btn btn-success" style="width:200px"></a>

  <a href="/deleteme"><input type="submit"name="button2"value="delete" class="btn btn-success" style="width:200px"></a>
  <a href="/update"><input type="submit"name="button2"value="update" class="btn btn-success" style="width:200px"></a>
  <a href="/view"><input type="submit"name="button2"value="Read" class="btn btn-success" style="width:200px"></a><marquee scrollamount="25" direction="right"> <h1 style="color:blue;text-align:center">welcome to BMS </h1></marquee></div>

  <div style="position:relative; top:50px;left:500px"> <a href="/login"><input type="submit"name="button2"value="login" class="btn btn-success" style="width:200px"></a></div>

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  </body>
    <!--sddfjkg-->
