doctype html
html. 
  <head>
  <title>login</title>
  <h1 style="color:green;text-align:center">Login page </h1>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  </head>
  <body>

  <form name="MYForm"action="/login" method="post"style="position:relative;top:100px;left:470px">

  userid<input type="email"name="text1" class="form-control" style="width:400px" required>

  <br>password<input type="password" name="text2" class="form-control" style="width:400px" required>

  <br>
  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;

  <input type="submit"name="button1"value="login" class="btn btn-success" style="width:200px">

  </form>

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  </body>
    <!--sddfjkg-->
