doctype html
html. 
  <head>
  
  <title>registratioon</title>
  <h1 style="color:green;text-align:center">Registration page </h1>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="/javascripts/validate.js" type="text/javascript"></script>
  </head>
  <body>

  <form name="MYForm1"method="post"  action="/signup" style="position:relative;top:50px;left:470px">
  Firstname:<input type="text" src="/javascripts/validate.js" class="form-control" style="width:400px" onkeydown="validate()" value="" name="fname" ><br>
  <span id="txtid" style="color:red"></span></br>
  Lastname:<input type="text" src="/javascripts/validate.js" name="lname" class="form-control" style="width:400px" onkeydown="validate1()" value="" ><br>
  <span id="txtid1" style="color:red"></span></br>
  Email-id:<input type="text"name="email" src="/javascripts/validate.js" class="form-control" style="width:400px" value=""  onkeydown="validate2()" autocomplete="off"><br>
  <span id="txtid2"style="color:red"></span></br>
  password:<input type="password" name="pass" src="/javascripts/validate.js" class="form-control" style="width:400px" onkeydown="validate3()" value="" ><br>
  <span id="txtid3"style="color:red"></span></br>
  Phone:<input type="text" src="/javascripts/validate.js"  name="phone"  onkeydown="validate4()" class="form-control" style="width:400px" value=""  ><br>
  <span id="txtid4"style="color:red"></span></br>
  region:<input type="text" src="/javascripts/validate.js"  name="region"   class="form-control" style="width:400px" value=""  ><br>
  <span id="txtid4"style="color:red"></span></br>

  <br>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <input type="submit"name="button1"value="Register" class="btn btn-success">

  </form>
 
 
  
  </body>
    <!--sddfjkg-->