doctype html
html. 
  <head>
  <title>view</title>
  <h1 style="color:green;text-align:center">view page </h1>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  </head>
  <body>

  <form name="MYForm"action="/view1" method="get"style="position:relative;top:100px;left:470px">

  
  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;

  <input type="submit"name="button1"value="view" class="btn btn-success" style="width:200px">

  </form>

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  </body>
    <!--sddfjkg-->
